html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
main {
  display: block;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]),
[hidden] {
  display: none;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
@font-face {
  font-family: 'iconfont';
  src: url('../icon/iconfont.eot');
  src: url('../icon/iconfont.eot?#iefix') format('embedded-opentype'), url('../icon/iconfont.woff') format('woff'), url('../icon/iconfont.ttf') format('truetype'), url('../icon/iconfont.svg#uxiconfont') format('svg');
}
* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 100%;
  font-family: 微软雅黑;
}
html a {
  text-decoration: none;
}
body {
  min-width: 1000px;
  min-width: 62.5rem;
}
body header {
  height: 52px;
  height: 3.25rem;
  background-color: #F5F6F8;
  width: 100%;
}
body header #header {
  width: 960px;
  width: 60rem;
  padding-left: 20px;
  padding-left: 1.25rem;
  padding-right: 20px;
  padding-right: 1.25rem;
  margin: 0 auto;
  height: 100%;
}
body header #header #logo {
  width: 105px;
  height: 32px;
  width: 6.5625rem;
  height: 2rem;
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  float: left;
  margin-top: 10px;
  margin-top: 0.625rem;
}
body header #header nav {
  float: right;
  position: relative;
}
body header #header nav .out {
  width: 74px;
  height: 27px;
  width: 4.625rem;
  height: 1.6875rem;
  background-color: #38a0f7;
  margin-top: 14px;
  margin-top: 0.875rem;
  position: absolute;
  top: 0;
  left: 30px;
  left: 1.875rem;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  border-radius: 0.25rem;
  overflow: hidden;
}
body header #header nav .out .in {
  width: 583px;
  height: 27px;
  width: 36.4375rem;
  height: 1.6875rem;
  position: absolute;
  left: -30px;
  left: -1.875rem;
}
body header #header nav .out .in a {
  line-height: 27px;
  line-height: 1.6875rem;
  color: #fff;
  float: left;
  font-size: 14px;
  font-size: 0.875rem;
  margin-left: 40px;
  margin-left: 2.5rem;
}
body header #header nav a.black {
  margin-left: 40px;
  margin-left: 2.5rem;
  line-height: 52px;
  line-height: 3.25rem;
  color: #333;
  float: left;
  font-size: 14px;
  font-size: 0.875rem;
}
body #top {
  background-image: -webkit-linear-gradient(90deg, #ebf6fa 0%, #f7fcfe 100%);
  background-image: -moz-linear-gradient(90deg, #ebf6fa 0%, #f7fcfe 100%);
  background-image: -ms-linear-gradient(90deg, #ebf6fa 0%, #f7fcfe 100%);
  height: 458px;
  height: 28.625rem;
  width: 100%;
  overflow: hidden;
}
body #top .out {
  width: 920px;
  width: 57.5rem;
  padding-left: 20px;
  padding-left: 1.25rem;
  padding-right: 20px;
  padding-right: 1.25rem;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
body #top .out .phone1 {
  position: absolute;
  left: 23px;
  top: 63px;
  width: 301px;
  height: 582px;
  width: 18.8125rem;
  height: 36.375rem;
  background-image: url("../img/hand.png");
  background-repeat: no-repeat;
  background-size: contain;
}
body #top .out .phone2 {
  position: absolute;
  left: 130px;
  top: 90px;
  width: 301px;
  height: 582px;
  width: 18.8125rem;
  height: 36.375rem;
  background-image: url("../img/phone2.png");
  background-repeat: no-repeat;
  background-size: contain;
}
body #top .out .word {
  float: right;
  width: 432px;
  width: 27rem;
  margin-top: 80px;
  margin-top: 5rem;
}
body #top .out .word div {
  margin-top: 10px;
  margin-top: 0.625rem;
  position: relative;
}
body #top .out .word div.cqupt {
  width: 322px;
  height: 34px;
  width: 20.125rem;
  height: 2.125rem;
  background-image: url("../img/2.png");
  background-repeat: no-repeat;
  background-size: contain;
}
body #top .out .word div.assistant {
  width: 432px;
  height: 80px;
  width: 27rem;
  height: 5rem;
  background-image: url("../img/3.png");
  background-repeat: no-repeat;
  background-size: contain;
}
body #top .out .word div.app {
  margin-left: 5px;
  margin-top: 20px;
  margin-top: 1.25rem;
  width: 432px;
  height: 23px;
  width: 27rem;
  height: 1.4375rem;
  background-image: url("../img/app.png");
  background-repeat: no-repeat;
  background-size: contain;
}
body #top .out .word div.phone {
  height: 110px;
  height: 6.875rem;
}
body #top .out .word div.down a,
body #top .out .word div.down p {
  margin-left: 180px;
  margin-left: 11.25rem;
  margin-top: 5px;
  margin-top: 0.3125rem;
  width: 175px;
  width: 10.9375rem;
  color: #000;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  color: #666;
}
body #top .out .word div.IOS,
body #top .out .word div.Android {
  margin-top: 20px;
  margin-top: 1.25rem;
  float: left;
  width: 140px;
  width: 8.75rem;
}
body #top .out .word div.IOS {
  margin-right: 40px;
  margin-right: 2.5rem;
}
body #top .out .word div.IOS .for {
  width: 75px;
  height: 20px;
  width: 4.6875rem;
  height: 1.25rem;
  background-image: url("../img/IOS.png");
  background-repeat: no-repeat;
  background-size: contain;
}
body #top .out .word div.Android .for {
  width: 121px;
  height: 20px;
  width: 7.5625rem;
  height: 1.25rem;
  background-image: url("../img/Android.png");
  background-repeat: no-repeat;
  background-size: contain;
}
body #top .out .word div .bottom {
  width: 100%;
  height: 45px;
  height: 2.8125rem;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-border-radius: 0.125rem;
  -webkit-border-radius: 0.125rem;
  border-radius: 0.125rem;
  line-height: 45px;
  line-height: 2.8125rem;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-size: 1.25rem;
  cursor: pointer;
  background-image: -webkit-linear-gradient(90deg, #3498f6 0%, #3ba5f7 100%);
  background-image: -moz-linear-gradient(90deg, #3498f6 0%, #3ba5f7 100%);
  background-image: -ms-linear-gradient(90deg, #3498f6 0%, #3ba5f7 100%);
}
body #top .out .word div .bottom span {
  font-size: 28px;
  font-size: 1.75rem;
  margin-right: 5px;
  margin-right: 0.3125rem;
  font-family: iconfont;
}
body #top .out .word div .none {
  background-image: -webkit-linear-gradient(90deg, #a9aaaa 0%, #b1b2b2 100%);
  background-image: -moz-linear-gradient(90deg, #a9aaaa 0%, #b1b2b2 100%);
  background-image: -ms-linear-gradient(90deg, #a9aaaa 0%, #b1b2b2 100%);
}
body #top .animation .phone1 {
  animation: phone 2s ease;
  -moz-animation: phone 2s ease;
  -webkit-animation: phone 2s ease;
  -o-animation: phone 2s ease;
}
body #top .animation .phone2 {
  animation: Phone 1.9s ease;
  -moz-animation: Phone 1.9s ease;
  -webkit-animation: Phone 1.9s ease;
  -o-animation: Phone 1.9s ease;
}
body #top .animation .word .cqupt {
  animation: cqupt 2s ease;
  -moz-animation: cqupt 2s ease;
  -webkit-animation: cqupt 2s ease;
  -o-animation: cqupt 2s ease;
}
body #top .animation .word .assistant {
  animation: assistant 2s ease;
  -moz-animation: assistant 2s ease;
  -webkit-animation: assistant 2s ease;
  -o-animation: assistant 2s ease;
}
body #top .animation .word .app {
  animation: app 2s ease;
  -moz-animation: app 2s ease;
  -webkit-animation: app 2s ease;
  -o-animation: app 2s ease;
}
body #top .animation .word .phone,
body #top .animation .word .Android {
  animation: _phone 2s ease;
  -moz-animation: _phone 2s ease;
  -webkit-animation: _phone 2s ease;
  -o-animation: _phone 2s ease;
}
body #top .animation .word .down {
  animation: __phone 2.25s ease;
  -moz-animation: __phone 2.25s ease;
  -webkit-animation: __phone 2.25s ease;
  -o-animation: __phone 2.25s ease;
}
body #kebiao {
  height: 760px;
  height: 47.5rem;
  width: 100%;
  overflow: hidden;
  position: relative;
}
body #kebiao .out {
  width: 920px;
  width: 57.5rem;
  height: 100%;
  margin: 0 auto;
  position: relative;
  display: none;
}
body #kebiao .out .word {
  float: left;
  width: 332px;
  width: 20.75rem;
  margin-top: 200px;
  margin-top: 12.5rem;
}
body #kebiao .out .word div {
  margin-top: 30px;
  margin-top: 1.875rem;
  position: relative;
}
body #kebiao .out .word div.my {
  width: 331px;
  height: 45px;
  width: 20.6875rem;
  height: 2.8125rem;
  background-image: url("../img/my.png");
  background-repeat: no-repeat;
  background-size: contain;
}
body #kebiao .out .word div.change {
  width: 329px;
  height: 44px;
  width: 20.5625rem;
  height: 2.75rem;
  background-image: url("../img/change.png");
  background-repeat: no-repeat;
  background-size: contain;
}
body #kebiao .out .schedule,
body #kebiao .out .schedule1 {
  position: absolute;
  left: 530px;
  left: 33.125rem;
  width: 389px;
  height: 599px;
  width: 24.3125rem;
  height: 37.4375rem;
  margin-top: 70px;
  margin-top: 4.375rem;
}
body #kebiao .out .schedule .click,
body #kebiao .out .schedule1 .click,
body #kebiao .out .schedule .clickOut,
body #kebiao .out .schedule1 .clickOut {
  position: absolute;
  left: 315px;
  top: 514px;
  left: 19.6875rem;
  top: 32.125rem;
  width: 60px;
  height: 60px;
  width: 3.75rem;
  height: 3.75rem;
  background-image: url("../img/click.png");
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
body #kebiao .out .schedule .clickOut,
body #kebiao .out .schedule1 .clickOut {
  display: none;
}
body #kebiao .out .schedule,
body #kebiao .out .schedule1 {
  background-image: url("../img/6.png");
  background-repeat: no-repeat;
  background-size: contain;
}
body #kebiao .out .schedule .botton1,
body #kebiao .out .schedule1 .botton1,
body #kebiao .out .schedule .botton2,
body #kebiao .out .schedule1 .botton2,
body #kebiao .out .schedule .botton3,
body #kebiao .out .schedule1 .botton3,
body #kebiao .out .schedule .botton1Out,
body #kebiao .out .schedule1 .botton1Out,
body #kebiao .out .schedule .botton2Out,
body #kebiao .out .schedule1 .botton2Out,
body #kebiao .out .schedule .botton3Out,
body #kebiao .out .schedule1 .botton3Out {
  width: 115px;
  height: 60px;
  width: 7.1875rem;
  height: 3.75rem;
  cursor: pointer;
  position: absolute;
  left: 260px;
  left: 16.25rem;
}
body #kebiao .out .schedule .botton1,
body #kebiao .out .schedule1 .botton1 {
  background-image: url("../img/botton1.png");
  background-repeat: no-repeat;
  background-size: contain;
  top: 315px;
  top: 19.6875rem;
}
body #kebiao .out .schedule .botton1Out,
body #kebiao .out .schedule1 .botton1Out {
  background-image: url("../img/botton1.png");
  background-repeat: no-repeat;
  background-size: contain;
  top: 523px;
  top: 32.6875rem;
  opacity: 0;
}
body #kebiao .out .schedule .botton2,
body #kebiao .out .schedule1 .botton2 {
  background-image: url("../img/botton2.png");
  background-repeat: no-repeat;
  background-size: contain;
  top: 385px;
  top: 24.0625rem;
}
body #kebiao .out .schedule .botton2Out,
body #kebiao .out .schedule1 .botton2Out {
  background-image: url("../img/botton2.png");
  background-repeat: no-repeat;
  background-size: contain;
  top: 523px;
  top: 32.6875rem;
  opacity: 0;
}
body #kebiao .out .schedule .botton3,
body #kebiao .out .schedule1 .botton3 {
  background-image: url("../img/botton3.png");
  background-repeat: no-repeat;
  background-size: contain;
  top: 453px;
  top: 28.3125rem;
}
body #kebiao .out .schedule .botton3Out,
body #kebiao .out .schedule1 .botton3Out {
  background-image: url("../img/botton3.png");
  background-repeat: no-repeat;
  background-size: contain;
  top: 523px;
  top: 32.6875rem;
  opacity: 0;
}
body #kebiao .out .schedule1 {
  opacity: 0;
  background-image: url("../img/6_2.png");
  background-repeat: no-repeat;
  background-size: contain;
}
body #kebiao .animation {
  display: block;
}
body #kebiao .animation .word .my {
  animation: my 2s ease;
  -moz-animation: my 2s ease;
  -webkit-animation: my 2s ease;
  -o-animation: my 2s ease;
}
body #kebiao .animation .word .change {
  animation: change 2s ease;
  -moz-animation: change 2s ease;
  -webkit-animation: change 2s ease;
  -o-animation: change 2s ease;
}
body #kebiao .animation .Animation {
  position: relative;
  animation: seek 2s ease;
  -moz-animation: seek 2s ease;
  -webkit-animation: seek 2s ease;
  -o-animation: seek 2s ease;
}
body #kebiao .animation .Animation .click {
  animation: click 0.5s;
  -moz-animation: click 0.5s;
  -webkit-animation: click 0.5s;
  -o-animation: click 0.5s;
}
body #kebiao .animation .Animation .clickOut {
  animation: clickOut 0.5s;
  -moz-animation: clickOut 0.5s;
  -webkit-animation: clickOut 0.5s;
  -o-animation: clickOut 0.5s;
}
body #kebiao .animation .Animation .botton1 {
  animation: botton 0.5s;
  -moz-animation: botton 0.5s;
  -webkit-animation: botton 0.5s;
  -o-animation: botton 0.5s;
}
body #kebiao .animation .Animation .botton1Out {
  animation: bottonOut 0.5s;
  -moz-animation: bottonOut 0.5s;
  -webkit-animation: bottonOut 0.5s;
  -o-animation: bottonOut 0.5s;
}
body #kebiao .animation .Animation .botton2 {
  animation: _botton 0.5s;
  -moz-animation: _botton 0.5s;
  -webkit-animation: _botton 0.5s;
  -o-animation: _botton 0.5s;
}
body #kebiao .animation .Animation .botton2Out {
  animation: _bottonOut 0.5s;
  -moz-animation: _bottonOut 0.5s;
  -webkit-animation: _bottonOut 0.5s;
  -o-animation: _bottonOut 0.5s;
}
body #kebiao .animation .Animation .botton3 {
  animation: __botton 0.5s;
  -moz-animation: __botton 0.5s;
  -webkit-animation: __botton 0.5s;
  -o-animation: __botton 0.5s;
}
body #kebiao .animation .Animation .botton3Out {
  animation: __bottonOut 0.5s;
  -moz-animation: __bottonOut 0.5s;
  -webkit-animation: __bottonOut 0.5s;
  -o-animation: __bottonOut 0.5s;
}
body #kebiao .animation .Animation .botton {
  display: none;
}
body #kebiao .click {
  cursor: pointer;
  transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}
body #info {
  height: 760px;
  height: 47.5rem;
  width: 100%;
  overflow: hidden;
  background-image: -webkit-linear-gradient(90deg, #f9fdff 0%, #f9fdff 62%, #f6fcff 100%);
  background-image: -moz-linear-gradient(90deg, #f9fdff 0%, #f9fdff 62%, #f6fcff 100%);
  background-image: -ms-linear-gradient(90deg, #f9fdff 0%, #f9fdff 62%, #f6fcff 100%);
}
body #info .out {
  width: 920px;
  width: 57.5rem;
  height: 100%;
  margin: 0 auto;
  position: relative;
  display: none;
}
body #info .out .word {
  float: right;
  width: 332px;
  width: 20.75rem;
  margin-top: 200px;
  margin-top: 12.5rem;
}
body #info .out .word div {
  margin-top: 30px;
  margin-top: 1.875rem;
  position: relative;
}
body #info .out .word div.seek {
  width: 332px;
  height: 44px;
  width: 20.75rem;
  height: 2.75rem;
  background-image: url("../img/seek.png");
  background-repeat: no-repeat;
  background-size: contain;
}
body #info .out .word div.info {
  width: 323px;
  height: 72px;
  width: 20.1875rem;
  height: 4.5rem;
  background-image: url("../img/info.png");
  background-repeat: no-repeat;
  background-size: contain;
}
body #info .out #featured-area {
  width: 396px;
  height: 760px;
  width: 24.75rem;
  height: 47.5rem;
  float: left;
  margin: 40px auto 0 auto;
}
body #info .out #featured-area .roundabout-holder {
  list-style: none;
  width: 386px;
  height: 611px;
  width: 24.125rem;
  height: 38.1875rem;
  margin: 0px auto;
}
body #info .out #featured-area .roundabout-holder .roundabout-moveable-item {
  width: 386px;
  height: 611px;
  width: 24.125rem;
  height: 38.1875rem;
  cursor: pointer;
  padding: 5px;
  border: 1px solid #aaaaaa;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background: #f9f9f9;
}
body #info .out #featured-area .roundabout-holder .roundabout-moveable-item img {
  height: 100%;
  width: 100%;
  background-color: #FFFFFF;
  margin: 0;
}
body #info .animation {
  display: block;
}
body #info .animation #featured-area {
  animation: opac 2s ease;
  -moz-animation: opac 2s ease;
  -webkit-animation: opac 2s ease;
  -o-animation: opac 2s ease;
}
body #info .animation .word .seek {
  animation: seek 2s ease;
  -moz-animation: seek 2s ease;
  -webkit-animation: seek 2s ease;
  -o-animation: seek 2s ease;
}
body #info .animation .word .info {
  animation: info 2s ease;
  -moz-animation: info 2s ease;
  -webkit-animation: info 2s ease;
  -o-animation: info 2s ease;
}
body #find {
  height: 720px;
  height: 45rem;
  width: 100%;
  overflow: hidden;
  position: relative;
}
body #find .out {
  width: 920px;
  width: 57.5rem;
  height: 100%;
  margin: 0 auto;
  position: relative;
  display: none;
}
body #find .out .word {
  float: left;
  width: 430px;
  width: 26.875rem;
  margin-top: 200px;
  margin-top: 12.5rem;
}
body #find .out .word div {
  margin-top: 30px;
  margin-top: 1.875rem;
  position: relative;
}
body #find .out .word div.find {
  width: 427px;
  height: 44px;
  width: 26.6875rem;
  height: 2.75rem;
  background-image: url("../img/find.png");
  background-repeat: no-repeat;
  background-size: contain;
}
body #find .out .word div.function {
  width: 430px;
  height: 44px;
  width: 26.875rem;
  height: 2.75rem;
  background-image: url("../img/function.png");
  background-repeat: no-repeat;
  background-size: contain;
}
body #find .out .more1 {
  margin-top: 80px;
  margin-top: 5rem;
  float: right;
  width: 350px;
  height: 350px;
  width: 21.875rem;
  height: 21.875rem;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 2px #ccc;
  -moz-border-radius: 175px;
  -webkit-border-radius: 175px;
  border-radius: 175px;
  -moz-border-radius: 10.9375rem;
  -webkit-border-radius: 10.9375rem;
  border-radius: 10.9375rem;
  overflow: hidden !important;
  position: absolute;
  left: 450px;
  left: 28.125rem;
  background-color: #fff;
}
body #find .out .more1 .in {
  width: 542px;
  height: 607px;
  width: 33.875rem;
  height: 37.9375rem;
  position: relative;
  top: 30px;
  top: 1.875rem;
  left: 50px;
  left: 3.125rem;
  background-image: url("../img/magnify2.png");
  background-repeat: no-repeat;
  background-size: contain;
}
body #find .out .more2 {
  margin-top: 80px;
  margin-top: 5rem;
  width: 389px;
  height: 561px;
  width: 24.3125rem;
  height: 35.0625rem;
  background-image: url("../img/magnify.png");
  background-repeat: no-repeat;
  background-size: contain;
  float: right;
  position: relative;
}
body #find .out .screen {
  width: 630px;
  height: 730px;
  width: 39.375rem;
  height: 45.625rem;
  position: absolute;
  left: 400px;
  left: 25rem;
  cursor: none;
}
body #find .out .more1,
body #find .out .more2,
body #find .out .screen {
  display: none;
}
body #find .out .scope {
  position: absolute;
  left: 448px;
  left: 28rem;
  top: 76px;
  top: 4.75rem;
  width: 476px;
  height: 568px;
  width: 29.75rem;
  height: 35.5rem;
  background-image: url("../img/scope.png");
  background-repeat: no-repeat;
  background-size: contain;
}
body #find .animation {
  display: block;
}
body #find .animation .word .find {
  animation: my 2s ease;
  -moz-animation: my 2s ease;
  -webkit-animation: my 2s ease;
  -o-animation: my 2s ease;
}
body #find .animation .word .function {
  animation: change 2s ease;
  -moz-animation: change 2s ease;
  -webkit-animation: change 2s ease;
  -o-animation: change 2s ease;
}
body #find .animation .scope {
  animation: scope 2s ease;
  -moz-animation: scope 2s ease;
  -webkit-animation: scope 2s ease;
  -o-animation: scope 2s ease;
}
body #share {
  height: 160px;
  height: 10rem;
  background-image: -webkit-linear-gradient(90deg, #ffffff 0%, #f7fdff 100%);
  background-image: -moz-linear-gradient(90deg, #ffffff 0%, #f7fdff 100%);
  background-image: -ms-linear-gradient(90deg, #ffffff 0%, #f7fdff 100%);
}
body #share .word {
  width: 980px;
  width: 61.25rem;
  height: 100%;
  margin: 0 auto;
  padding-top: 60px;
  padding-top: 3.75rem;
  text-shadow: 0 0 0 #000;
}
body #share .word div {
  font-size: 18px;
  font-size: 1.125rem;
  color: #999;
  float: left;
  margin-right: 40px;
  margin-right: 2.5rem;
}
body #share .word div span {
  font-family: iconfont;
  font-size: 80px;
  font-size: 5rem;
  float: left;
}
body #share .word div p {
  line-height: 30px;
  line-height: 1.875rem;
  position: relative;
  top: 10px;
  top: 0.625rem;
}
body #share .word div p.title {
  font-size: 21px;
  font-size: 1.3125rem;
}
body #share .word div.sina {
  width: 326px;
  width: 20.375rem;
}
body #share .word div.wx {
  width: 185px;
  width: 11.5625rem;
  cursor: pointer:;
}
body #share .word div.qq {
  width: 179px;
  width: 11.1875rem;
}
body #share .word div.e-mail {
  width: 170px;
  width: 10.625rem;
  margin-right: 0;
}
body #share .word div:hover {
  color: #666;
}
body #changepass {
  padding: 20px;
  padding: 1.25rem;
  z-index: 9999;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 350px;
  width: 25rem;
  height: 21.875rem;
  margin-top: -200px;
  margin-top: -12.5rem;
  margin-left: -200px;
  margin-left: -12.5rem;
  border: solid .5px #ccc;
  background-color: #FEFEFE;
  display: none;
  box-shadow: 0 0 2px #666;
}
body #changepass .theme-poptit .close {
  font-family: iconfont;
  float: right;
  font-size: 40px;
  font-size: 2.5rem;
  color: #999;
  cursor: pointer;
  position: relative;
  top: -10px;
  top: -0.625rem;
  left: 10px;
  left: 0.625rem;
}
body #changepass .theme-poptit .close:hover {
  color: #666;
}
body #changepass .img {
  background-image: url("../img/wx.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 258px;
  height: 258px;
  width: 16.125rem;
  height: 16.125rem;
  margin: 0 auto;
}
body #changepass p {
  text-align: center;
  line-height: 40px;
  line-height: 2.5rem;
  font-size: 30px;
  font-size: 1.875rem;
  letter-spacing: 4px;
  letter-spacing: .25rem;
}
body footer {
  padding-top: 50px;
  padding-top: 3.125rem;
  width: 100%;
  color: #333;
  text-align: center;
  font-size: 12px;
  font-size: 0.75rem;
  padding-bottom: 50px;
  padding-bottom: 3.125rem;
}
body footer p {
  margin-top: 10px;
  margin-top: 0.625rem;
}
body footer a {
  color: #333;
}
body #up {
  cursor: pointer;
  width: 60px;
  height: 60px;
  width: 3.75rem;
  height: 3.75rem;
  position: fixed;
  bottom: 15%;
  right: 10%;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  -moz-border-radius: 1.875rem;
  -webkit-border-radius: 1.875rem;
  border-radius: 1.875rem;
  font-family: iconfont;
  color: #999;
  font-size: 60px;
  font-size: 3.75rem;
  opacity: 0.5;
  display: none;
}
body #up:hover {
  color: #333;
}
body .theme-popover-mask {
  z-index: 9998;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.4;
  filter: alpha(opacity=40);
  display: none;
}
@keyframes scope {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes scope {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes scope {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes scope {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes opac {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes opac {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes opac {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes opac {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes botton {
  0% {
    opacity: 0;
    top: 523px;
    top: 32.6875rem;
  }
  60% {
    opacity: 0;
    top: 523px;
    top: 32.6875rem;
  }
  77.5% {
    opacity: 0.9;
    top: 300px;
    top: 18.75rem;
  }
  100% {
    opacity: 1;
    top: 315px;
    top: 19.6875rem;
  }
}
@-moz-keyframes botton {
  0% {
    opacity: 0;
    top: 523px;
    top: 32.6875rem;
  }
  60% {
    opacity: 0;
    top: 523px;
    top: 32.6875rem;
  }
  77.5% {
    opacity: 0.9;
    top: 300px;
    top: 18.75rem;
  }
  100% {
    opacity: 1;
    top: 315px;
    top: 19.6875rem;
  }
}
@-webkit-keyframes botton {
  0% {
    opacity: 0;
    top: 523px;
    top: 32.6875rem;
  }
  60% {
    opacity: 0;
    top: 523px;
    top: 32.6875rem;
  }
  77.5% {
    opacity: 0.9;
    top: 300px;
    top: 18.75rem;
  }
  100% {
    opacity: 1;
    top: 315px;
    top: 19.6875rem;
  }
}
@-o-keyframes botton {
  0% {
    opacity: 0;
    top: 523px;
    top: 32.6875rem;
  }
  60% {
    opacity: 0;
    top: 523px;
    top: 32.6875rem;
  }
  77.5% {
    opacity: 0.9;
    top: 300px;
    top: 18.75rem;
  }
  100% {
    opacity: 1;
    top: 315px;
    top: 19.6875rem;
  }
}
@-webkit-keyframes bottonOut {
  0% {
    opacity: 1;
    top: 315px;
    top: 19.6875rem;
  }
  22.5% {
    opacity: 0.9;
    top: 300px;
    top: 18.75rem;
  }
  40% {
    opacity: 0;
    top: 523px;
    top: 32.6875rem;
  }
  100% {
    opacity: 0;
    top: 523px;
    top: 32.6875rem;
  }
}
@-moz-keyframes bottonOut {
  0% {
    opacity: 1;
    top: 315px;
    top: 19.6875rem;
  }
  22.5% {
    opacity: 0.9;
    top: 300px;
    top: 18.75rem;
  }
  40% {
    opacity: 0;
    top: 523px;
    top: 32.6875rem;
  }
  100% {
    opacity: 0;
    top: 523px;
    top: 32.6875rem;
  }
}
@-ms-keyframes bottonOut {
  0% {
    opacity: 1;
    top: 315px;
    top: 19.6875rem;
  }
  22.5% {
    opacity: 0.9;
    top: 300px;
    top: 18.75rem;
  }
  40% {
    opacity: 0;
    top: 523px;
    top: 32.6875rem;
  }
  100% {
    opacity: 0;
    top: 523px;
    top: 32.6875rem;
  }
}
@-o-keyframes bottonOut {
  0% {
    opacity: 1;
    top: 315px;
    top: 19.6875rem;
  }
  22.5% {
    opacity: 0.9;
    top: 300px;
    top: 18.75rem;
  }
  40% {
    opacity: 0;
    top: 523px;
    top: 32.6875rem;
  }
  100% {
    opacity: 0;
    top: 523px;
    top: 32.6875rem;
  }
}
@keyframes bottonOut {
  0% {
    opacity: 1;
    top: 315px;
    top: 19.6875rem;
  }
  22.5% {
    opacity: 0.9;
    top: 300px;
    top: 18.75rem;
  }
  40% {
    opacity: 0;
    top: 523px;
    top: 32.6875rem;
  }
  100% {
    opacity: 0;
    top: 523px;
    top: 32.6875rem;
  }
}
@keyframes _botton {
  0% {
    opacity: 0;
    top: 523px;
    top: 32.6875rem;
  }
  60% {
    opacity: 0;
    top: 523px;
    top: 32.6875rem;
  }
  77.5% {
    opacity: 0.9;
    top: 360px;
    top: 22.5rem;
  }
  100% {
    opacity: 1;
    top: 385px;
    top: 24.0625rem;
  }
}
@-moz-keyframes _botton {
  0% {
    opacity: 0;
    top: 523px;
    top: 32.6875rem;
  }
  60% {
    opacity: 0;
    top: 523px;
    top: 32.6875rem;
  }
  77.5% {
    opacity: 0.9;
    top: 360px;
    top: 22.5rem;
  }
  100% {
    opacity: 1;
    top: 385px;
    top: 24.0625rem;
  }
}
@-webkit-keyframes _botton {
  0% {
    opacity: 0;
    top: 523px;
    top: 32.6875rem;
  }
  60% {
    opacity: 0;
    top: 523px;
    top: 32.6875rem;
  }
  77.5% {
    opacity: 0.9;
    top: 360px;
    top: 22.5rem;
  }
  100% {
    opacity: 1;
    top: 385px;
    top: 24.0625rem;
  }
}
@-o-keyframes _botton {
  0% {
    opacity: 0;
    top: 523px;
    top: 32.6875rem;
  }
  60% {
    opacity: 0;
    top: 523px;
    top: 32.6875rem;
  }
  77.5% {
    opacity: 0.9;
    top: 360px;
    top: 22.5rem;
  }
  100% {
    opacity: 1;
    top: 385px;
    top: 24.0625rem;
  }
}
@-webkit-keyframes _bottonOut {
  0% {
    opacity: 1;
    top: 385px;
    top: 24.0625rem;
  }
  22.5% {
    opacity: 0.9;
    top: 360px;
    top: 22.5rem;
  }
  40% {
    opacity: 0;
    top: 523px;
    top: 32.6875rem;
  }
  100% {
    opacity: 0;
    top: 523px;
    top: 32.6875rem;
  }
}
@-moz-keyframes _bottonOut {
  0% {
    opacity: 1;
    top: 385px;
    top: 24.0625rem;
  }
  22.5% {
    opacity: 0.9;
    top: 360px;
    top: 22.5rem;
  }
  40% {
    opacity: 0;
    top: 523px;
    top: 32.6875rem;
  }
  100% {
    opacity: 0;
    top: 523px;
    top: 32.6875rem;
  }
}
@-ms-keyframes _bottonOut {
  0% {
    opacity: 1;
    top: 385px;
    top: 24.0625rem;
  }
  22.5% {
    opacity: 0.9;
    top: 360px;
    top: 22.5rem;
  }
  40% {
    opacity: 0;
    top: 523px;
    top: 32.6875rem;
  }
  100% {
    opacity: 0;
    top: 523px;
    top: 32.6875rem;
  }
}
@-o-keyframes _bottonOut {
  0% {
    opacity: 1;
    top: 385px;
    top: 24.0625rem;
  }
  22.5% {
    opacity: 0.9;
    top: 360px;
    top: 22.5rem;
  }
  40% {
    opacity: 0;
    top: 523px;
    top: 32.6875rem;
  }
  100% {
    opacity: 0;
    top: 523px;
    top: 32.6875rem;
  }
}
@keyframes _bottonOut {
  0% {
    opacity: 1;
    top: 385px;
    top: 24.0625rem;
  }
  22.5% {
    opacity: 0.9;
    top: 360px;
    top: 22.5rem;
  }
  40% {
    opacity: 0;
    top: 523px;
    top: 32.6875rem;
  }
  100% {
    opacity: 0;
    top: 523px;
    top: 32.6875rem;
  }
}
@keyframes __botton {
  0% {
    opacity: 0;
    top: 523px;
    top: 32.6875rem;
  }
  60% {
    opacity: 0;
    top: 523px;
    top: 32.6875rem;
  }
  77.5% {
    opacity: 0.9;
    top: 360px;
    top: 27.375rem;
  }
  100% {
    opacity: 1;
    top: 385px;
    top: 28.3125rem;
  }
}
@-moz-keyframes __botton {
  0% {
    opacity: 0;
    top: 523px;
    top: 32.6875rem;
  }
  60% {
    opacity: 0;
    top: 523px;
    top: 32.6875rem;
  }
  77.5% {
    opacity: 0.9;
    top: 360px;
    top: 27.375rem;
  }
  100% {
    opacity: 1;
    top: 385px;
    top: 28.3125rem;
  }
}
@-webkit-keyframes __botton {
  0% {
    opacity: 0;
    top: 523px;
    top: 32.6875rem;
  }
  60% {
    opacity: 0;
    top: 523px;
    top: 32.6875rem;
  }
  77.5% {
    opacity: 0.9;
    top: 360px;
    top: 27.375rem;
  }
  100% {
    opacity: 1;
    top: 385px;
    top: 28.3125rem;
  }
}
@-o-keyframes __botton {
  0% {
    opacity: 0;
    top: 523px;
    top: 32.6875rem;
  }
  60% {
    opacity: 0;
    top: 523px;
    top: 32.6875rem;
  }
  77.5% {
    opacity: 0.9;
    top: 360px;
    top: 27.375rem;
  }
  100% {
    opacity: 1;
    top: 385px;
    top: 28.3125rem;
  }
}
@-webkit-keyframes __bottonOut {
  0% {
    opacity: 1;
    top: 385px;
    top: 28.3125rem;
  }
  22.5% {
    opacity: 0.9;
    top: 360px;
    top: 27.375rem;
  }
  40% {
    opacity: 0;
    top: 523px;
    top: 32.6875rem;
  }
  100% {
    opacity: 0;
    top: 523px;
    top: 32.6875rem;
  }
}
@-moz-keyframes __bottonOut {
  0% {
    opacity: 1;
    top: 385px;
    top: 28.3125rem;
  }
  22.5% {
    opacity: 0.9;
    top: 360px;
    top: 27.375rem;
  }
  40% {
    opacity: 0;
    top: 523px;
    top: 32.6875rem;
  }
  100% {
    opacity: 0;
    top: 523px;
    top: 32.6875rem;
  }
}
@-ms-keyframes __bottonOut {
  0% {
    opacity: 1;
    top: 385px;
    top: 28.3125rem;
  }
  22.5% {
    opacity: 0.9;
    top: 360px;
    top: 27.375rem;
  }
  40% {
    opacity: 0;
    top: 523px;
    top: 32.6875rem;
  }
  100% {
    opacity: 0;
    top: 523px;
    top: 32.6875rem;
  }
}
@-o-keyframes __bottonOut {
  0% {
    opacity: 1;
    top: 385px;
    top: 28.3125rem;
  }
  22.5% {
    opacity: 0.9;
    top: 360px;
    top: 27.375rem;
  }
  40% {
    opacity: 0;
    top: 523px;
    top: 32.6875rem;
  }
  100% {
    opacity: 0;
    top: 523px;
    top: 32.6875rem;
  }
}
@keyframes __bottonOut {
  0% {
    opacity: 1;
    top: 385px;
    top: 28.3125rem;
  }
  22.5% {
    opacity: 0.9;
    top: 360px;
    top: 27.375rem;
  }
  40% {
    opacity: 0;
    top: 523px;
    top: 32.6875rem;
  }
  100% {
    opacity: 0;
    top: 523px;
    top: 32.6875rem;
  }
}
@keyframes phone {
  20% {
    left: -100px;
    left: -6.25rem;
    opacity: 0;
  }
  0% {
    left: -100px;
    left: -6.25rem;
    opacity: 0;
  }
  100% {
    left: 23px;
    left: 1.4375rem;
    opacity: 1;
  }
}
@-moz-keyframes phone {
  20% {
    left: -100px;
    left: -6.25rem;
    opacity: 0;
  }
  0% {
    left: -100px;
    left: -6.25rem;
    opacity: 0;
  }
  100% {
    left: 23px;
    left: 1.4375rem;
    opacity: 1;
  }
}
@-webkit-keyframes phone {
  20% {
    left: -100px;
    left: -6.25rem;
    opacity: 0;
  }
  0% {
    left: -100px;
    left: -6.25rem;
    opacity: 0;
  }
  100% {
    left: 23px;
    left: 1.4375rem;
    opacity: 1;
  }
}
@-o-keyframes phone {
  20% {
    left: -100px;
    left: -6.25rem;
    opacity: 0;
  }
  0% {
    left: -100px;
    left: -6.25rem;
    opacity: 0;
  }
  100% {
    left: 23px;
    left: 1.4375rem;
    opacity: 1;
  }
}
@keyframes Phone {
  0% {
    left: 0;
    opacity: 0;
  }
  100% {
    left: 130px;
    left: 8.125rem;
    opacity: 1;
  }
}
@-moz-keyframes Phone {
  0% {
    left: 0;
    opacity: 0;
  }
  100% {
    left: 130px;
    left: 8.125rem;
    opacity: 1;
  }
}
@-webkit-keyframes Phone {
  0% {
    left: 0;
    opacity: 0;
  }
  100% {
    left: 130px;
    left: 8.125rem;
    opacity: 1;
  }
}
@-o-keyframes Phone {
  0% {
    left: 0;
    opacity: 0;
  }
  100% {
    left: 130px;
    left: 8.125rem;
    opacity: 1;
  }
}
@keyframes cqupt {
  0% {
    left: 60px;
    opacity: 0;
  }
  70% {
    left: 0;
    opacity: 1;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
@-moz-keyframes cqupt {
  0% {
    left: 60px;
    opacity: 0;
  }
  70% {
    left: 0;
    opacity: 1;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
@-webkit-keyframes cqupt {
  0% {
    left: 60px;
    opacity: 0;
  }
  70% {
    left: 0;
    opacity: 1;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
@-o-keyframes cqupt {
  0% {
    left: 60px;
    opacity: 0;
  }
  70% {
    left: 0;
    opacity: 1;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
@keyframes assistant {
  0% {
    left: 60px;
    left: 3.75rem;
    opacity: 0;
  }
  10% {
    left: 60px;
    left: 3.75rem;
    opacity: 0;
  }
  80% {
    left: 0;
    opacity: 1;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
@-moz-keyframes assistant {
  0% {
    left: 60px;
    left: 3.75rem;
    opacity: 0;
  }
  10% {
    left: 60px;
    left: 3.75rem;
    opacity: 0;
  }
  80% {
    left: 0;
    opacity: 1;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
@-webkit-keyframes assistant {
  0% {
    left: 60px;
    left: 3.75rem;
    opacity: 0;
  }
  10% {
    left: 60px;
    left: 3.75rem;
    opacity: 0;
  }
  80% {
    left: 0;
    opacity: 1;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
@-o-keyframes assistant {
  0% {
    left: 60px;
    left: 3.75rem;
    opacity: 0;
  }
  10% {
    left: 60px;
    left: 3.75rem;
    opacity: 0;
  }
  80% {
    left: 0;
    opacity: 1;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
@keyframes app {
  0% {
    left: 60px;
    left: 3.75rem;
    opacity: 0;
  }
  20% {
    left: 60px;
    left: 3.75rem;
    opacity: 0;
  }
  90% {
    left: 0;
    opacity: 1;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
@-moz-keyframes app {
  0% {
    left: 60px;
    left: 3.75rem;
    opacity: 0;
  }
  20% {
    left: 60px;
    left: 3.75rem;
    opacity: 0;
  }
  90% {
    left: 0;
    opacity: 1;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
@-webkit-keyframes app {
  0% {
    left: 60px;
    left: 3.75rem;
    opacity: 0;
  }
  20% {
    left: 60px;
    left: 3.75rem;
    opacity: 0;
  }
  90% {
    left: 0;
    opacity: 1;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
@-o-keyframes app {
  0% {
    left: 60px;
    left: 3.75rem;
    opacity: 0;
  }
  20% {
    left: 60px;
    left: 3.75rem;
    opacity: 0;
  }
  90% {
    left: 0;
    opacity: 1;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
@keyframes _phone {
  0% {
    left: 60px;
    left: 3.75rem;
    opacity: 0;
  }
  30% {
    left: 60px;
    left: 3.75rem;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
@-moz-keyframes _phone {
  0% {
    left: 60px;
    left: 3.75rem;
    opacity: 0;
  }
  30% {
    left: 60px;
    left: 3.75rem;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
@-webkit-keyframes _phone {
  0% {
    left: 60px;
    left: 3.75rem;
    opacity: 0;
  }
  30% {
    left: 60px;
    left: 3.75rem;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
@-o-keyframes _phone {
  0% {
    left: 60px;
    left: 3.75rem;
    opacity: 0;
  }
  30% {
    left: 60px;
    left: 3.75rem;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
@keyframes __phone {
  0% {
    left: 60px;
    left: 3.75rem;
    opacity: 0;
  }
  40% {
    left: 60px;
    left: 3.75rem;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
@-moz-keyframes __phone {
  0% {
    left: 60px;
    left: 3.75rem;
    opacity: 0;
  }
  40% {
    left: 60px;
    left: 3.75rem;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
@-webkit-keyframes __phone {
  0% {
    left: 60px;
    left: 3.75rem;
    opacity: 0;
  }
  40% {
    left: 60px;
    left: 3.75rem;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
@-o-keyframes __phone {
  0% {
    left: 60px;
    left: 3.75rem;
    opacity: 0;
  }
  40% {
    left: 60px;
    left: 3.75rem;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
@keyframes seek {
  0% {
    left: 60px;
    left: 3.75rem;
    opacity: 0;
  }
  80% {
    left: 0;
    opacity: 1;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
@-moz-keyframes seek {
  0% {
    left: 60px;
    left: 3.75rem;
    opacity: 0;
  }
  80% {
    left: 0;
    opacity: 1;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
@-webkit-keyframes seek {
  0% {
    left: 60px;
    left: 3.75rem;
    opacity: 0;
  }
  80% {
    left: 0;
    opacity: 1;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
@-o-keyframes seek {
  0% {
    left: 60px;
    left: 3.75rem;
    opacity: 0;
  }
  80% {
    left: 0;
    opacity: 1;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
@keyframes info {
  0% {
    left: 60px;
    left: 3.75rem;
    opacity: 0;
  }
  20% {
    left: 60px;
    left: 3.75rem;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
@-moz-keyframes info {
  0% {
    left: 60px;
    left: 3.75rem;
    opacity: 0;
  }
  20% {
    left: 60px;
    left: 3.75rem;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
@-webkit-keyframes info {
  0% {
    left: 60px;
    left: 3.75rem;
    opacity: 0;
  }
  20% {
    left: 60px;
    left: 3.75rem;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
@-o-keyframes info {
  0% {
    left: 60px;
    left: 3.75rem;
    opacity: 0;
  }
  20% {
    left: 60px;
    left: 3.75rem;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
@keyframes my {
  0% {
    left: -60px;
    left: -3.75rem;
    opacity: 0;
  }
  80% {
    left: 0;
    opacity: 1;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
@-moz-keyframes my {
  0% {
    left: -60px;
    left: -3.75rem;
    opacity: 0;
  }
  80% {
    left: 0;
    opacity: 1;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
@-webkit-keyframes my {
  0% {
    left: -60px;
    left: -3.75rem;
    opacity: 0;
  }
  80% {
    left: 0;
    opacity: 1;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
@-o-keyframes my {
  0% {
    left: -60px;
    left: -3.75rem;
    opacity: 0;
  }
  80% {
    left: 0;
    opacity: 1;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
@keyframes change {
  0% {
    left: -60px;
    left: -3.75rem;
    opacity: 0;
  }
  20% {
    left: -60px;
    left: -3.75rem;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
@-moz-keyframes change {
  0% {
    left: -60px;
    left: -3.75rem;
    opacity: 0;
  }
  20% {
    left: -60px;
    left: -3.75rem;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
@-webkit-keyframes change {
  0% {
    left: -60px;
    left: -3.75rem;
    opacity: 0;
  }
  20% {
    left: -60px;
    left: -3.75rem;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
@-o-keyframes change {
  0% {
    left: -60px;
    left: -3.75rem;
    opacity: 0;
  }
  20% {
    left: -60px;
    left: -3.75rem;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
@keyframes click {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(225deg);
  }
}
@-moz-keyframes click {
  0% {
    -moz-transform: rotate(0);
  }
  100% {
    -moz-transform: rotate(225deg);
  }
}
@-webkit-keyframes click {
  0% {
    -webkit-transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(225deg);
  }
}
@-o-keyframes click {
  0% {
    -o-transform: rotate(0);
  }
  100% {
    -o-transform: rotate(225deg);
  }
}
@-webkit-keyframes clickOut {
  0% {
    -webkit-transform: rotate(225deg);
  }
  50% {
    -webkit-transform: rotate(225deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}
@-moz-keyframes clickOut {
  0% {
    -moz-transform: rotate(225deg);
  }
  50% {
    -moz-transform: rotate(225deg);
  }
  100% {
    -moz-transform: rotate(0deg);
  }
}
@-ms-keyframes clickOut {
  0% {
    -ms-transform: rotate(225deg);
  }
  50% {
    -ms-transform: rotate(225deg);
  }
  100% {
    -ms-transform: rotate(0deg);
  }
}
@-o-keyframes clickOut {
  0% {
    -o-transform: rotate(225deg);
  }
  50% {
    -o-transform: rotate(225deg);
  }
  100% {
    -o-transform: rotate(0deg);
  }
}
@keyframes clickOut {
  0% {
    transform: rotate(225deg);
  }
  50% {
    transform: rotate(225deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
/*# sourceMappingURL=index.css.map */